@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h3,
h2,
p {
  margin: 0;
}

button {
  appearance: none;
  border: none;
  padding: 8px;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  display: block;
  border: none;
  box-sizing: border-box;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

/*  Toolbar styling */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.toolbar {
  background-color: rgba(60, 58, 57, 1);
}

.toolbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textPlaceholder {
  display: block;
  box-sizing: border-box;
  padding: 10px 12px;
  margin-left: 12px;
  line-height: 24px;
}

.textPlaceholder a,
.textPlaceholder p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  box-sizing: border-box;
}

.menu-item a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: rgba(255, 245, 225, 1);
}

.toolbar button {
  box-sizing: border-box;
  margin-right: 24px;
}

#navigation {
  display: none;
}

/* Frame Styling */

#presentation {
  background-color: rgba(28, 26, 25, 1);
  background-image: url(../images/illustration.svg);
  background-repeat: no-repeat;
  background-position: 100% 120%;
  background-size: auto;
  height: 100%;
}

.container h1,
.container h3,
.container h2,
.container p {
  margin-bottom: 12px;
}

.container h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: 500;
  color: rgba(255, 107, 0, 1);
  letter-spacing: 0.37px;
}

.container h3,
.container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(255, 245, 225, 1);
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-direction: column;
  align-items: baseline;
  padding: 24px;
}

.social-media {
  padding: 8px;
}

/*  Projects section */

.works {
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 100px;
}

.works h2 {
  display: block;
  box-sizing: border-box;
  padding-bottom: 40px;
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(28, 26, 25, 1);
}

.container .line {
  border-bottom: 1px solid rgba(33, 33, 33, 0.6);
  width: 100%;
}

.gridContainer {
  display: grid;
  box-sizing: border-box;
  padding: 0 24px;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(380px, auto);
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card img {
  width: 100%;
}

.card h3 {
  display: block;
  box-sizing: border-box;
  margin-top: 24px;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: rgba(9, 30, 66, 1);
}

.card p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.featured p {
  color: rgba(9, 30, 66, 1);
}

.tag {
  margin: 0 12px 0 0;
  border: 1px solid rgba(137, 147, 164, 1);
}

.tags {
  justify-content: flex-start;
  margin-bottom: 12px;
}

.tag a {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.other-desktop {
  display: none;
}

.other h3,
.other p,
.other a {
  color: rgba(255, 255, 255, 1);
}

/* Popup Window */
.popUpButtons a {
  margin-right: 16px;
}

/* PopUp Window */

.featured .textPlaceholder a {
  color: rgba(9, 30, 66, 1);
}

.interaction {
  display: block;
  padding: 12px;
  background: rgba(255, 107, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s linear;
}

.featured .interaction {
  width: fit-content;
}

.other {
  position: relative;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.other .info {
  padding: 10px 16px;
}

.other img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
}

.other .tag {
  border: none;
  background-color: rgba(255, 255, 255, 0.24);
}

.other .interaction {
  width: 100%;
}

.interaction:hover {
  background-color: rgba(255, 245, 225, 1);
  border: 1px solid rgba(245, 88, 0, 1);
  padding: 20px;
  color: rgba(245, 88, 0, 1);
}

.interaction:focus {
  background-color: rgba(224, 83, 4, 1);
  border: none;
  padding: 20px;
  color: rgba(244, 241, 240, 1);
}

.interaction:disabled {
  background-color: rgba(244, 241, 240, 1);
  color: rgba(91, 89, 87, 1);
}

/* Popup Window */

.modalParent {
  position: fixed;
  top: 0;
  z-index: 3;
  backdrop-filter: blur(3px);
  background-color: transparent;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.modal {
  justify-content: flex-start;
  flex-direction: column;
  margin: 2em 1em;
  padding: 1em;
  background-color: white;
  width: 100%;
  max-height: 85vh;
  overflow-y: auto;
}

.headline {
  width: 100%;
  justify-content: space-between;
}

.modal h3 {
  margin-top: 0;
  color: rgba(23, 43, 77, 1);
  font-size: 32px;
  font-weight: 700;
}

.modal .tag {
  margin-bottom: 12px;
}

.modal .tags {
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.modal p {
  margin-bottom: 24px;
}

.modal .tags a {
  color: rgba(60, 58, 57, 1);
}

.projectImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projectImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.popUpButtons {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.modal-grid {
  display: grid;
  height: 80vh;
  grid-gap: 24px;
  grid-template-rows: repeat(2, 1fr);
}

/* About */

#about {
  flex-direction: column;
  background-color: rgba(28, 26, 25, 1);
  padding-bottom: 100px;
}

.about .line {
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 240px;
}

.about {
  margin: 100px 0 130px 0;
  background-image: url(../images/about.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 85%;
  padding: 0 7vw;
  box-sizing: border-box;
}

.about h1 {
  font-size: 70px;
  font-weight: 400;
}

.about p {
  color: rgba(244, 245, 247, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 36px;
}

.categories h2 {
  margin: 0;
  padding: 12px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', sans-serif;
}

.categories {
  padding-bottom: 12px;
}

.element p {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.element {
  margin: 0;
  padding: 12px 0;
}

.knowledge {
  align-items: center;
  padding-top: 0;
}

/* Contact Form */

.contact p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: rgba(23, 43, 77, 1);
  margin-top: 50px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.contact input,
.contact textarea {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(60, 58, 57, 1);
  width: 100%;
  transition: all 0.3s ease-in;
}

.contact input {
  padding: 14px;
  border-bottom: 1px solid rgba(219, 216, 215, 1);
}

.contact textarea {
  padding: 14px;
  background-color: rgba(251, 248, 247, 1);
  height: 100px;
}

.contact input:hover,
.contact textarea:hover {
  transform: translate(30px);
  outline: solid 1px rgba(23, 43, 77, 1);
}

.contact input:focus-visible,
.contact textarea:focus-visible {
  outline: solid 1px rgba(23, 43, 77, 1);
}

.contact textarea:focus-visible {
  background-color: white;
}

.contact label {
  width: 100%;
}

.contact > * {
  margin-top: 25px;
}

.contact .socialGroup {
  border-top: 1px solid #e5e5e5;
  margin-top: 60px;
  padding: 20px 0;
  width: 100%;
}

/* Animation */

.dot {
  display: inline-block;
  width: 5px;
  height: 73px;
  background-color: rgba(255, 107, 0, 1);
  animation: 0.5s infinite alternate spawn;
}

@keyframes spawn {
  from {
    background-color: rgba(255, 107, 0, 1);
  }

  to {
    background-color: rgba(28, 26, 25, 1);
  }
}

/* Menu Pop Up Window */

#menu {
  position: fixed;
  background-color: rgba(60, 58, 57, 1);
  height: 100vh;
  width: 100%;
  z-index: 3;
}

#closeButton {
  margin-top: 2em;
  margin-right: 2em;
  float: right;
}

#closeButton img {
  width: 24px;
  height: 24px;
}

.menu {
  clear: both;
}

.menu .textPlaceholder {
  width: 100%;
  border-bottom: 1px solid rgba(111, 108, 107, 1);
  padding-bottom: 15px;
  padding-top: 24px;
}

.menu-invisible {
  display: none;
}

/* Form Valdiation */
.error {
  display: none;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(204, 19, 19);
  border: 1px solid rgb(204, 19, 19);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.active {
  display: block;
}

.alert {
  display: block;
  height: 100%;
}

.error-icon {
  background-image: url(../icons/exclamation-solid.svg);
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: 95% center;
}

@media screen and (min-width: 1000px) {
  /* Frame and toolbar styling */
  #presentation {
    justify-content: flex-start;
    background-image: url(../images/Illustration-header.svg);
    background-position: right;
    background-size: 50%;
  }

  #presentation .content {
    flex-direction: row-reverse;
    width: 50vw;
  }

  .content .socialGroup {
    flex-direction: column;
    padding: 10px;
    margin-right: 70px;
  }

  .container h1 {
    font-size: 72px;
    font-weight: 500;
  }

  .container h3 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
  }

  .container p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  #menuButton {
    display: none;
  }

  #navigation {
    display: flex;
  }

  .toolbar ul {
    justify-content: space-around;
  }

  .toolbar .textPlaceholder {
    padding: 26px;
    margin: 0;
  }

  .textPlaceholder a {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar .textPlaceholder a {
    font-weight: 600;
  }

  /* Projects section */
  .container .works {
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0 10vw 40px 10vw;
    box-sizing: border-box;
  }

  .works h2 {
    padding: 0;
    margin-right: 35px;
    color: rgba(9, 30, 66, 1);
  }

  .works .line {
    flex-grow: 1;
    width: auto;
    margin: 0;
  }

  .gridContainer {
    padding: 0 10vw;
    grid-auto-rows: minmax(500px, auto);
  }

  .featured {
    flex-direction: row;
    align-items: flex-start;
  }

  .featured img {
    flex: 1.5 0.5;
  }

  .featured .info {
    flex: 1 1;
    margin-left: 24px;
  }

  .card h3 {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
  }

  .featured h3 {
    margin-top: 0;
    font-size: 40px;
  }

  .card p {
    font-size: 17px;
    line-height: 24px;
  }

  .featured .interaction {
    margin-top: 24px;
  }

  .other {
    display: none;
  }

  .other-desktop {
    display: flex;
  }

  /* Modal */
  .modal {
    margin: 2em 8em;
  }

  .modal-grid {
    grid-template-rows: 50vh;
    grid-template-columns: 1.5fr 1fr;
    height: 50vh;
    width: 100%;
  }

  .modal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  /* About */
  #about {
    background-color: rgba(38, 38, 38, 1);
  }

  .about {
    margin-left: 40px;
    background-image: url(../images/about-desktop.svg);
    background-position: right 0%;
  }

  .about p {
    width: 46%;
  }

  .about h1 {
    font-weight: 400;
    color: rgba(245, 88, 0, 1);
  }

  .knowledge {
    align-items: baseline;
  }

  .knowledge-parent {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
  }

  .element p {
    font-size: 22px;
  }

  .categories h2 {
    font-weight: 700;
    font-size: 32px;
  }

  /* Contact Form */
  #contact {
    padding: 0 7vw;
  }

  .contact p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    line-height: 52px;
    margin-right: 24px;
    color: rgba(38, 38, 38, 1);
    flex: 1 1;
  }

  .contact form {
    flex: 1.5 1;
    align-items: baseline;
  }

  .contact-parent {
    flex-direction: row;
    align-items: baseline;
  }

  .other .interaction {
    padding: 17px;
  }

  /* ID Styling */
  #presentation h2 {
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
  }

  #presentation p {
    color: rgba(244, 245, 247, 1);
  }
}

@media screen and (min-width: 672px) and (max-width: 1000px) {
  #presentation {
    background-size: 25%;
    height: auto;
  }

  #presentation .content {
    padding: 25vh 0;
    width: 60vw;
  }
}

@media screen and (min-width: 672px) and (max-width: 1230px) {
  .featured {
    grid-column: 1/span 2;
  }
}

@media screen and (min-width: 1190px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .featured {
    grid-column: 1/span 3;
  }

  #presentation {
    background-size: auto;
  }
}
