
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

body {
  margin: 0;
}

h1, h3, p {
  margin: 0;
}

button {
  appearance: none;
  border: none;
  background: transparent;
}

/*  Toolbar styling */

.toolbar {
  background-color: rgba(60, 58, 57, 1);
}

.toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textPlaceholder {
  display: block;
  padding: 10px 12px;
  margin-left: 12px;
  line-height: 24px;
}

.textPlaceholder p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  box-sizing: border-box;
}

.toolbar button {
  box-sizing: border-box;
  padding: 8px;
  margin-right: 24px;
}

/* Frame Styling */

#main {
  background-color: rgba(28, 26, 25, 1); 
  background-image: url(../images/illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

.container h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  font-weight: 500;
  color: rgba(255, 107, 0, 1);
  letter-spacing: 0.37px;
}